@model GroupMembersViewModel

<h1>Members of group: @Model.Group.Name</h1>

<h3 class="list-title">Member List</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Joined At</th>
            <th>Read</th>
            <th>Add</th>
            <th>Update</th>
            <th>Delete</th>
            <th>Manage Members</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var membership in Model.Memberships)
        {
            <tr>
                <td>@membership</td>
                <td></td>
                <td>@membership.Read</td>
                <td>@membership.Add</td>
                <td>@membership.Update</td>
                <td>@membership.Delete</td>
                <td>@membership.ManageMembers</td>
                <td class="text-end">
                    
                </td>
            </tr>
        }
    </tbody>
</table>