@model GroupMembersViewModel
@using System.Web

<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<h1>Members of group: @Model.Group.Name</h1>

<div class="row menu-row">
    <div class="col">
        <form asp-controller="Groups" asp-action="Details" asp-route-groupId="@Model.Group.Id" method="post" style="display: inline;">
            <button type="submit" class="btn btn-outline-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                </svg>
                Group
            </button>
        </form>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAddMember">
            Add Member
        </button>
    </div>
</div>

<!-- Add Member Modal -->
<div class="modal" id="modalAddMember">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Member</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form id="addMemberForm" asp-controller="Members" asp-action="Add" method="post">
                <input type="hidden" name="new_member_group_id" value="@Model.Group.Id" />
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="new_member_id" class="col-form-label">New member:</label>
                        <select name="new_member_user_id">
                            @foreach (AppUser user in Model.NotMemberUsers)
                            {
                                <option value="@user.Id">@user.UserName (@user.Email)</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Permissions:</label>
                        <div class="form-check">
                            <input type="checkbox" name="new_member_perm_add" id="new_member_perm_add" class="form-check-input" />
                            <label class="form-class-label" for="new_member_perm_add">Add</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" name="new_member_perm_read" id="new_member_perm_read" class="form-check-input" />
                            <label class="form-class-label" for="new_member_perm_read">Read</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" name="new_member_perm_update" id="new_member_perm_update" class="form-check-input" />
                            <label class="form-class-label" for="new_member_perm_update">Update</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" name="new_member_perm_delete" id="new_member_perm_delete" class="form-check-input" />
                            <label class="form-class-label" for="new_member_perm_delete">Delete</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" name="new_member_perm_members" id="new_member_perm_members" class="form-check-input" />
                            <label class="form-class-label" for="new_member_perm_members">Manage members</label>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Add" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Membership Modal -->
<div class="modal" id="modalEditMembership">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Membership</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form id="editMembershipForm" asp-controller="Members" asp-action="Update" method="post">
                <input type="hidden" name="edit_membership_group_id" value="@Model.Group.Id" />
                <input type="hidden" id="edit_membership_user_id" name="edit_membership_user_id" />
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="edit_membership_user_name" class="col-form-label">Member:</label>
                        <span name="edit_membership_user_name" id="edit_membership_user_name"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Permissions:</label>
                        <div class="form-check">
                            <input type="checkbox" name="edit_membership_perm_add" id="edit_membership_perm_add" class="form-check-input" />
                            <label class="form-class-label" for="edit_membership_perm_add">Add</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" name="edit_membership_perm_read" id="edit_membership_perm_read" class="form-check-input" />
                            <label class="form-class-label" for="edit_membership_perm_read">Read</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" name="edit_membership_perm_update" id="edit_membership_perm_update" class="form-check-input" />
                            <label class="form-class-label" for="edit_membership_perm_update">Update</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" name="edit_membership_perm_delete" id="edit_membership_perm_delete" class="form-check-input" />
                            <label class="form-class-label" for="edit_membership_perm_delete">Delete</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" name="edit_membership_perm_members" id="edit_membership_perm_members" class="form-check-input" />
                            <label class="form-class-label" for="edit_membership_perm_members">Manage members</label>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Update" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Membership Modal -->
<div class="modal" id="modalDeleteMembership">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Remove Member</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form id="deleteMembershipForm" asp-controller="Members" asp-action="Delete" method="post">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">Are you sure you want to remove <span id="delete_member_user_name"></span> from the group?</label>
                        <input type="hidden" name="delete_member_group_id" value="@Model.Group.Id" />
                        <input type="hidden" id="delete_member_user_id" name="delete_member_user_id" />
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <input type="submit" class="btn btn-danger" value="Remove" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<h3 class="list-title">Member List</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th class="text-center">Read</th>
            <th class="text-center">Add</th>
            <th class="text-center">Update</th>
            <th class="text-center">Delete</th>
            <th class="text-center">Manage<br />Members</th>
            <th>Joined At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var membership in Model.Memberships)
        {
            <tr>
                <td>@membership.User.UserName</td>
                <td class="text-center"><input type="checkbox" class="form-check-input" checked="@membership.Read" disabled /></td>
                <td class="text-center"><input type="checkbox" class="form-check-input" checked="@membership.Add" disabled /></td>
                <td class="text-center"><input type="checkbox" class="form-check-input" checked="@membership.Update" disabled /></td>
                <td class="text-center"><input type="checkbox" class="form-check-input" checked="@membership.Delete" disabled /></td>
                <td class="text-center"><input type="checkbox" class="form-check-input" checked="@membership.ManageMembers" disabled /></td>
                <td>@membership.JoinedAt.ToString("yyyy.MM.dd")</td>
                <td>
                    <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#modalEditMembership" onclick="SetMembershipEditorData('@membership.UserId', '@HttpUtility.HtmlEncode(membership.User.UserName)', '@membership.Read', '@membership.Add', '@membership.Update', '@membership.Delete', '@membership.ManageMembers')">
                        Permissions
                    </button>
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#modalDeleteMembership" onclick="SetMembershipDeleteData('@membership.UserId', '@HttpUtility.HtmlEncode(membership.User.UserName)')">
                        Remove
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>