<!-- Delete Wisecrack Modal -->
<div class="modal" id="modalDeleteWisecrack">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Wisecrack</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form id="deleteWisecrackForm" asp-controller="Wisecracks" asp-action="Delete" method="post">
                <!-- Modal body -->
                <input type="hidden" id="delete_wc_id" name="delete_wc_id" />
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">Are you sure you want to delete this wisecrack?</label>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <input type="submit" class="btn btn-danger" value="Delete" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Wisecrack Modal -->
<div class="modal" id="modalEditWisecrack">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Wisecrack</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form id="editWisecrackForm" asp-controller="Wisecracks" asp-action="Update" method="post">
                <!-- Modal body -->
                <input type="hidden" name="edit_wc_id" id="edit_wc_id" value="" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="edit_wc_saidBy" class="col-form-label">Who said it?</label>
                        <input type="text" name="edit_wc_saidBy" class="form-control" id="edit_wc_saidBy" value="">
                    </div>
                    <div class="form-group">
                        <label for="edit_wc_content" class="col-form-label">Wisecrack:</label>
                        <input type="text" name="edit_wc_content" class="form-control" id="edit_wc_content" value="">
                    </div>
                    <div class="form-group">
                        <label for="edit_wc_date" class="col-form-label">Date:</label>
                        <input type="date" placeholder="yyyy-mm-dd" min="2000-01-01" max="2099-12-31" class="form-control" name="edit_wc_date" id="edit_wc_date">
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Save" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<h3 class="list-title">WiseCrack List</h3>

<table class="table">
    <thead>
        <tr>  
            <th class="text-nowrap">Said By</th>
            <th>Wisecrack</th>
            <th>Views</th>
            <th class="text-nowrap">Added By</th>
            <th class="text-nowrap">Added At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Wisecrack wisecrack in Model.Wisecracks)
        {
            <tr>
                <td>@wisecrack.SaidBy</td>
                <td>@wisecrack.Content</td>
                <td>@wisecrack.Views</td>
                <td>@wisecrack.Owner.UserName</td>
                <td>@wisecrack.CreatedAt.ToString("yyyy.MM.dd")</td>
                <td class="text-end text-nowrap">
                    @if (Model.Permissions.Update)
                    {
                        string addedAt = wisecrack.CreatedAt.ToString("yyyy-MM-dd");
                        <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#modalEditWisecrack" onclick="SetWisecrackEditorData('@wisecrack.Id', '@wisecrack.SaidBy', '@wisecrack.Content', '@addedAt');">
                            Edit
                        </button>
                    }
                    @if (Model.Permissions.Delete)
                    {
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#modalDeleteWisecrack" onclick="SetWisecrackDeleteID('@wisecrack.Id')">
                            Delete
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>